@font-face {
  font-family: "Alex Brush";
  src: url("@/app/assets/fonts/AlexBrush-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("@/app/assets/fonts/EBGaramond-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}