.auth {
  background-image: url("/images/auth/background.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #978661;

  &__stack {
    &-title {
      font-size: 50px;
      color: #deceab;
      font-family: "Alex Brush";
      font-weight: 400;
      text-align: center;
    }

    &-link {
      color: #978661;
    }
  }

  &__group {
    color: white;
  }
}

.button {
  background-color: #3e3a31;
  border: none;
  border: 1px solid #deceab;
  color: #deceab;
  font-size: 18px;
}
